body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: script;
    background-color: #ffe5ec;
}  

.container
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
     background : linear-gradient(to right, #ffb3c6, #ffb3c6);
     color: #fff;
     padding-top: 30px;
     min-height: 70px; 
     border bottom: 5px solid #ff8fab
}

header #branding{ 
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right; 
    margin-top: 10px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px; 
}

header a{
    color: #fff;
    text-decorations: none;
    text-transform: uppercase;
    font-size: 16px;
}



    