/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: Lucida handwriting;
    font-weight: bold;
}
body {background-color: lavenderblush};
body{marquee}

h1{text-align:center;color:pink;
}

ul {list-style-type: none; background-color: lightyellow; border: 6px floralwhite;
}

li{display:inline;
}